$primary: #dc3545;

@import "bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
    }
  }
}

.logo {
  font-family: 'Fredoka One', cursive;
}

.input-size {
  height: 50px;
}

.w-90 {
  width: 90% !important;
}

.pb-6 {
  padding-bottom: ($spacer * 4.7) !important;
}

.bg {
  background: url('../assets/bg.svg');
  background-size: 200px;
  z-index: -1 !important;
}