$primary: #dc3545;

@import "bootstrap/scss/bootstrap";

html {
  height: 100%;
  body {
    height: 100%;
    #root {
      height: 100%;
    }
  }
}

.input-size {
  height: 50px;
}

.w-90 {
  width: 90% !important;
}

.pb-6 {
  padding-bottom: ($spacer * 4.2) !important;
}